@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r6u20d');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r6u20d#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r6u20d') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r6u20d') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r6u20d##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_loop {
  &:before {
    content: $icon_loop; 
  }
}
.icon_arrow_sm {
  &:before {
    content: $icon_arrow_sm; 
  }
}
.icon_arrow_left {
  &:before {
    content: $icon_arrow_left; 
  }
}
.icon_arrow_top {
  &:before {
    content: $icon_arrow_top; 
  }
}
.icon_arrow_right {
  &:before {
    content: $icon_arrow_right; 
  }
}
.icon_arrow_bottom {
  &:before {
    content: $icon_arrow_bottom; 
  }
}
.icon_mark {
  &:before {
    content: $icon_mark; 
  }
}
.icon_clock {
  &:before {
    content: $icon_clock; 
  }
}
.icon_phone {
  &:before {
    content: $icon_phone; 
  }
}
.icon_location {
  &:before {
    content: $icon_location; 
  }
}
.icon_callback {
  &:before {
    content: $icon_callback; 
  }
}
.icon_mail {
  &:before {
    content: $icon_mail; 
  }
}
.icon_toggle {
  &:before {
    content: $icon_toggle; 
  }
}
.icon_discont {
  &:before {
    content: $icon_discont; 
  }
}
.icon_bag {
  &:before {
    content: $icon_bag; 
  }
}
.icon_recall {
  &:before {
    content: $icon_recall; 
  }
}
.icon_guarantee {
  &:before {
    content: $icon_guarantee; 
  }
}
.icon_info {
  &:before {
    content: $icon_info; 
  }
}
.icon_water {
  &:before {
    content: $icon_water; 
  }
}
.icon_tree {
  &:before {
    content: $icon_tree; 
  }
}
.icon_trowel {
  &:before {
    content: $icon_trowel; 
  }
}
.icon_monolithic {
  &:before {
    content: $icon_monolithic; 
  }
}
.icon_machine {
  &:before {
    content: $icon_machine; 
  }
}
.icon_crane {
  &:before {
    content: $icon_crane; 
  }
}
.icon_twiter {
  &:before {
    content: $icon_twiter; 
  }
}
.icon_vk {
  &:before {
    content: $icon_vk; 
  }
}
.icon_instagram {
  &:before {
    content: $icon_instagram; 
  }
}
.icon_facebook {
  &:before {
    content: $icon_facebook; 
  }
}

