@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sz0koy');
  src:  url('fonts/icomoon.eot?sz0koy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sz0koy') format('truetype'),
    url('fonts/icomoon.woff?sz0koy') format('woff'),
    url('fonts/icomoon.svg?sz0koy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_loop:before {
  content: "\e91b";
}
.icon_arrow_sm:before {
  content: "\e900";
}
.icon_arrow_left:before {
  content: "\e901";
}
.icon_arrow_top:before {
  content: "\e902";
}
.icon_arrow_right:before {
  content: "\e903";
}
.icon_arrow_bottom:before {
  content: "\e904";
}
.icon_mark:before {
  content: "\e905";
}
.icon_clock:before {
  content: "\e906";
}
.icon_phone:before {
  content: "\e907";
}
.icon_location:before {
  content: "\e908";
}
.icon_callback:before {
  content: "\e909";
}
.icon_mail:before {
  content: "\e91a";
}
.icon_toggle:before {
  content: "\e90a";
}
.icon_discont:before {
  content: "\e90b";
}
.icon_bag:before {
  content: "\e90c";
}
.icon_recall:before {
  content: "\e90d";
}
.icon_guarantee:before {
  content: "\e90e";
}
.icon_info:before {
  content: "\e90f";
}
.icon_water:before {
  content: "\e910";
}
.icon_tree:before {
  content: "\e911";
}
.icon_trowel:before {
  content: "\e912";
}
.icon_monolithic:before {
  content: "\e913";
}
.icon_machine:before {
  content: "\e914";
}
.icon_crane:before {
  content: "\e915";
}
.icon_twiter:before {
  content: "\e916";
}
.icon_vk:before {
  content: "\e917";
}
.icon_instagram:before {
  content: "\e918";
}
.icon_facebook:before {
  content: "\e919";
}
