@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?sovdp7");
  src: url("fonts/icomoon.eot?sovdp7#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?sovdp7") format("truetype"), url("fonts/icomoon.woff?sovdp7") format("woff"), url("fonts/icomoon.svg?sovdp7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_calc:before {
  content: "";
}

.icon_star:before {
  content: "";
}

.icon_medal:before {
  content: "";
}

.icon_hand:before {
  content: "";
}

.icon_speed:before {
  content: "";
}

.icon_loop:before {
  content: "";
}

.icon_arrow_sm:before {
  content: "";
}

.icon_arrow_left:before {
  content: "";
}

.icon_arrow_top:before {
  content: "";
}

.icon_arrow_right:before {
  content: "";
}

.icon_arrow_bottom:before {
  content: "";
}

.icon_mark:before {
  content: "";
}

.icon_clock:before {
  content: "";
}

.icon_phone:before {
  content: "";
}

.icon_location:before {
  content: "";
}

.icon_callback:before {
  content: "";
}

.icon_mail:before {
  content: "";
}

.icon_toggle:before {
  content: "";
}

.icon_discont:before {
  content: "";
}

.icon_bag:before {
  content: "";
}

.icon_recall:before {
  content: "";
}

.icon_guarantee:before {
  content: "";
}

.icon_info:before {
  content: "";
}

.icon_water:before {
  content: "";
}

.icon_tree:before {
  content: "";
}

.icon_trowel:before {
  content: "";
}

.icon_monolithic:before {
  content: "";
}

.icon_machine:before {
  content: "";
}

.icon_crane:before {
  content: "";
}

.icon_twiter:before {
  content: "";
}

.icon_vk:before {
  content: "";
}

.icon_instagram:before {
  content: "";
}

.icon_facebook:before {
  content: "";
}