$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_calc: "\e920";
$icon_star: "\e91c";
$icon_medal: "\e91d";
$icon_hand: "\e91e";
$icon_speed: "\e91f";
$icon_loop: "\e91b";
$icon_arrow_sm: "\e900";
$icon_arrow_left: "\e901";
$icon_arrow_top: "\e902";
$icon_arrow_right: "\e903";
$icon_arrow_bottom: "\e904";
$icon_mark: "\e905";
$icon_clock: "\e906";
$icon_phone: "\e907";
$icon_location: "\e908";
$icon_callback: "\e909";
$icon_mail: "\e91a";
$icon_toggle: "\e90a";
$icon_discont: "\e90b";
$icon_bag: "\e90c";
$icon_recall: "\e90d";
$icon_guarantee: "\e90e";
$icon_info: "\e90f";
$icon_water: "\e910";
$icon_tree: "\e911";
$icon_trowel: "\e912";
$icon_monolithic: "\e913";
$icon_machine: "\e914";
$icon_crane: "\e915";
$icon_twiter: "\e916";
$icon_vk: "\e917";
$icon_instagram: "\e918";
$icon_facebook: "\e919";

