.advantages {

    background-color: $color_white;
    padding-bottom: 3.125em;

    @media (min-width: 768px) {
        padding-bottom: 8em;
    }

    &__list {
        margin-top: 1.875em;
        @media (min-width: 768px) {
            margin-top: 4.1875em;
            width: 93em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2em;

        }
    }

    &__item {
        line-height: 1.5;
        margin-bottom: 1.875em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;

        }

        span {
            display: block;

            &:last-child {
                margin-top: 0.0625em;
            }
        }

        b {
            font-weight: 700;
        }

        br {
            display: none;
            @media (min-width: 768px) {
                display: inline;
            }
        }
    }

    &__content {
        margin-top: 1.5625em;
        @media (min-width: 768px) {
            margin-top: 3.75em;
            width: 46.875em;
        }
    }

    &__img {
        width: 5.75em;
        height: 5.9375em;
        margin: 0 auto 0.625em;

        @media (min-width: 768px) {
            margin: 0 0 0.625em;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

    }

    &__text {
        margin: 0 auto;
        text-align: center;
        width: 19em;

        @media (min-width: 768px) {
            text-align: left;
            width: auto;
            margin: 0;
        }
    }

    &_company {
        background-color: transparent;
        padding-top: 0;

        @media (min-width: 768px) {
            padding-bottom: 0.625em;
        }

        .advantages__list {
            @media (min-width: 768px) {
                margin-top: 3em;
            }
        }

        .advantages__img {
            @media (min-width: 768px) {
                margin-bottom: 0.75em;
            }
        }
    }

}
