{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1669541754318.0837,
          "ctimeMs": 1669541754318.0837,
          "date": "2022-11-27T09:35:55.837Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1667988838876.2747,
          "date": "2022-11-25T09:17:11.710Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1669543002080.3623,
          "ctimeMs": 1669543002080.3623,
          "date": "2022-11-27T09:56:42.568Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475143.978,
          "date": "2022-11-25T09:17:20.826Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475144.0112,
          "date": "2022-11-25T09:17:21.059Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475143.9448,
          "date": "2022-11-25T09:17:21.309Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1669302505963.663,
          "ctimeMs": 1669302505963.663,
          "date": "2022-11-25T09:17:21.525Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475143.8054,
          "date": "2022-11-25T09:17:21.727Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475143.842,
          "date": "2022-11-25T09:17:21.944Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475144.188,
          "date": "2022-11-25T09:17:22.195Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475144.221,
          "date": "2022-11-25T09:17:22.478Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475144.1147,
          "date": "2022-11-25T09:17:22.711Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1669302462000,
          "ctimeMs": 1669302475144.1516,
          "date": "2022-11-25T09:17:22.979Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1668594729408.5188,
          "ctimeMs": 1668594729408.5188,
          "date": "2022-11-25T09:17:42.444Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1669540514472.0278,
          "ctimeMs": 1669540514472.0278,
          "date": "2022-11-27T09:15:14.845Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1667988823375.9375,
          "date": "2022-11-25T09:17:43.055Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1667988823374.8508,
          "date": "2022-11-25T09:17:43.556Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1667989482623.8513,
          "ctimeMs": 1668004631718.8386,
          "date": "2022-11-25T09:17:31.373Z"
        },
        {
          "file": "fonts/OpenSans/stylesheet.css",
          "mtimeMs": 1667990742000,
          "ctimeMs": 1667990866825.4211,
          "date": "2022-11-25T09:17:20.629Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Bold.eot",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866832.6873,
          "date": "2022-11-25T09:17:14.114Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Bold.ttf",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866826.664,
          "date": "2022-11-25T09:17:14.360Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Bold.woff",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866830.5796,
          "date": "2022-11-25T09:17:14.626Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Bold.woff2",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866827.9753,
          "date": "2022-11-25T09:17:14.881Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-ExtraBold.eot",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866830.1309,
          "date": "2022-11-25T09:17:15.144Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-ExtraBold.ttf",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866826.0615,
          "date": "2022-11-25T09:17:15.412Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-ExtraBold.woff",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866821.8926,
          "date": "2022-11-25T09:17:15.711Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-ExtraBold.woff2",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866821.3782,
          "date": "2022-11-25T09:17:15.996Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Light.eot",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866777.5706,
          "date": "2022-11-25T09:17:16.316Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Light.ttf",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866820.818,
          "date": "2022-11-25T09:17:16.599Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Light.woff",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866822.3926,
          "date": "2022-11-25T09:17:16.849Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Light.woff2",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866831.7153,
          "date": "2022-11-25T09:17:17.111Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Medium.eot",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866832.2368,
          "date": "2022-11-25T09:17:17.364Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Medium.ttf",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866827.3298,
          "date": "2022-11-25T09:17:17.625Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Medium.woff",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866778.5576,
          "date": "2022-11-25T09:17:17.875Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Medium.woff2",
          "mtimeMs": 1667990738000,
          "ctimeMs": 1667990866831.0989,
          "date": "2022-11-25T09:17:18.110Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Regular.eot",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866824.822,
          "date": "2022-11-25T09:17:18.374Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Regular.ttf",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866829.6335,
          "date": "2022-11-25T09:17:18.648Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Regular.woff",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866828.515,
          "date": "2022-11-25T09:17:18.894Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-Regular.woff2",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866776.4084,
          "date": "2022-11-25T09:17:19.127Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-SemiBold.eot",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866779.4666,
          "date": "2022-11-25T09:17:19.397Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-SemiBold.ttf",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866775.1208,
          "date": "2022-11-25T09:17:19.663Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-SemiBold.woff",
          "mtimeMs": 1667990740000,
          "ctimeMs": 1667990866773.7305,
          "date": "2022-11-25T09:17:19.929Z"
        },
        {
          "file": "fonts/OpenSans/OpenSans-SemiBold.woff2",
          "mtimeMs": 1667990742000,
          "ctimeMs": 1667990866772.6184,
          "date": "2022-11-25T09:17:20.197Z"
        },
        {
          "file": "fonts/OpenSans/demo.html",
          "mtimeMs": 1667990742000,
          "ctimeMs": 1668705478782.46,
          "date": "2022-11-25T09:17:20.444Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1668004888500.9192,
          "ctimeMs": 1668004888501.2366,
          "date": "2022-11-25T09:17:41.894Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1668004896093.9343,
          "ctimeMs": 1668004896095.2395,
          "date": "2022-11-25T09:17:42.261Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1668004962828.8262,
          "ctimeMs": 1668004962829.0417,
          "date": "2022-11-25T09:17:43.208Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1668005003711.7192,
          "ctimeMs": 1668005003711.993,
          "date": "2022-11-25T09:17:12.912Z"
        },
        {
          "file": "css/swiper-bundle.min.css",
          "mtimeMs": 1668005009181.622,
          "ctimeMs": 1668005009181.883,
          "date": "2022-11-25T09:17:13.395Z"
        },
        {
          "file": "css/twentytwenty.css",
          "mtimeMs": 1668005012480.8384,
          "ctimeMs": 1668005012481.0757,
          "date": "2022-11-25T09:17:13.596Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1668004998913.61,
          "ctimeMs": 1668004998913.909,
          "date": "2022-11-25T09:17:12.696Z"
        },
        {
          "file": "img/advantages_1.svg",
          "mtimeMs": 1668958634132.1475,
          "ctimeMs": 1668958689991.7834,
          "date": "2022-11-25T09:17:23.642Z"
        },
        {
          "file": "img/advantages_2.svg",
          "mtimeMs": 1668959117814.7102,
          "ctimeMs": 1668959130816.9185,
          "date": "2022-11-25T09:17:24.043Z"
        },
        {
          "file": "img/advantages_3.svg",
          "mtimeMs": 1667999967194.8203,
          "ctimeMs": 1668004631723.28,
          "date": "2022-11-25T09:17:24.227Z"
        },
        {
          "file": "img/advantages_4.svg",
          "mtimeMs": 1668959481128.678,
          "ctimeMs": 1668959507247.8276,
          "date": "2022-11-25T09:17:24.429Z"
        },
        {
          "file": "img/arrow_step_bottom.svg",
          "mtimeMs": 1668000448273.2812,
          "ctimeMs": 1668004631721.367,
          "date": "2022-11-25T09:17:25.542Z"
        },
        {
          "file": "img/arrow_step_top.svg",
          "mtimeMs": 1668000476996.3643,
          "ctimeMs": 1668004631720.1438,
          "date": "2022-11-25T09:17:25.713Z"
        },
        {
          "file": "img/mastercard.svg",
          "mtimeMs": 1668362153431.9644,
          "ctimeMs": 1668362173792.3374,
          "date": "2022-11-25T09:17:31.742Z"
        },
        {
          "file": "img/mir.svg",
          "mtimeMs": 1668001126201.0771,
          "ctimeMs": 1668004631712.5325,
          "date": "2022-11-25T09:17:31.909Z"
        },
        {
          "file": "img/pay.svg",
          "mtimeMs": 1668001057368.9136,
          "ctimeMs": 1668004631711.5693,
          "date": "2022-11-25T09:17:33.601Z"
        },
        {
          "file": "img/step_1.svg",
          "mtimeMs": 1668000551393.1511,
          "ctimeMs": 1668004631710.7305,
          "date": "2022-11-25T09:17:38.314Z"
        },
        {
          "file": "img/step_2.svg",
          "mtimeMs": 1668000608686.8137,
          "ctimeMs": 1668004631709.8267,
          "date": "2022-11-25T09:17:38.474Z"
        },
        {
          "file": "img/step_3.svg",
          "mtimeMs": 1668000635286.7122,
          "ctimeMs": 1668004631708.8147,
          "date": "2022-11-25T09:17:38.641Z"
        },
        {
          "file": "img/step_4.svg",
          "mtimeMs": 1668000762718.1514,
          "ctimeMs": 1668004631707.6384,
          "date": "2022-11-25T09:17:38.807Z"
        },
        {
          "file": "img/visa.svg",
          "mtimeMs": 1668001107220.413,
          "ctimeMs": 1668004631706.4875,
          "date": "2022-11-25T09:17:41.713Z"
        },
        {
          "file": "js/jquery.event.move.js",
          "mtimeMs": 1668004954087.3809,
          "ctimeMs": 1668004954087.6292,
          "date": "2022-11-25T09:17:42.805Z"
        },
        {
          "file": "js/jquery.twentytwenty.js",
          "mtimeMs": 1668004972022.932,
          "ctimeMs": 1668004972023.1323,
          "date": "2022-11-25T09:17:43.394Z"
        },
        {
          "file": "js/slider.js",
          "mtimeMs": 1669481034508.2996,
          "ctimeMs": 1669481034508.2996,
          "date": "2022-11-26T16:43:54.860Z"
        },
        {
          "file": "js/swiper-bundle.min.js",
          "mtimeMs": 1668004983893.6978,
          "ctimeMs": 1668004983893.969,
          "date": "2022-11-25T09:17:43.940Z"
        },
        {
          "file": "img/footer_bg.webp",
          "mtimeMs": 1668061055680.2498,
          "ctimeMs": 1668061311245.6921,
          "date": "2022-11-25T09:17:30.360Z"
        },
        {
          "file": "img/footer_bg_m.webp",
          "mtimeMs": 1668061292779.112,
          "ctimeMs": 1668061311243.5461,
          "date": "2022-11-25T09:17:30.543Z"
        },
        {
          "file": "img/footer_el.webp",
          "mtimeMs": 1668061052586.4067,
          "ctimeMs": 1668061311240.419,
          "date": "2022-11-25T09:17:30.742Z"
        },
        {
          "file": "img/logo_w.svg",
          "mtimeMs": 1668060404701.5212,
          "ctimeMs": 1668060467999.7195,
          "date": "2022-11-25T09:17:31.526Z"
        },
        {
          "file": "img/pay_header.svg",
          "mtimeMs": 1668352310990.8496,
          "ctimeMs": 1668352352544.8193,
          "date": "2022-11-25T09:17:34.114Z"
        },
        {
          "file": "home/index.html",
          "mtimeMs": 1669542746923.3018,
          "ctimeMs": 1669542746923.3018,
          "date": "2022-11-27T09:52:27.347Z"
        },
        {
          "file": "img/firstscreen_bg.webp",
          "mtimeMs": 1668410428000,
          "ctimeMs": 1668421274900.5742,
          "date": "2022-11-25T09:17:29.607Z"
        },
        {
          "file": "img/firstscreen_el_1.webp",
          "mtimeMs": 1668410428000,
          "ctimeMs": 1668421303811.7456,
          "date": "2022-11-25T09:17:29.961Z"
        },
        {
          "file": "img/firstscreen_el_2.webp",
          "mtimeMs": 1668410428000,
          "ctimeMs": 1668421309509.174,
          "date": "2022-11-25T09:17:30.126Z"
        },
        {
          "file": "img/firstscreen_bg_m.webp",
          "mtimeMs": 1668429264891.6604,
          "ctimeMs": 1668429342470.3743,
          "date": "2022-11-25T09:17:29.790Z"
        },
        {
          "file": "img/services_1.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931522.4104,
          "date": "2022-11-25T09:17:36.166Z"
        },
        {
          "file": "img/services_2.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931516.1794,
          "date": "2022-11-25T09:17:36.452Z"
        },
        {
          "file": "img/services_3.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931518.0898,
          "date": "2022-11-25T09:17:36.642Z"
        },
        {
          "file": "img/services_4.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931513.7583,
          "date": "2022-11-25T09:17:36.841Z"
        },
        {
          "file": "img/services_5.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931524.4329,
          "date": "2022-11-25T09:17:37.040Z"
        },
        {
          "file": "img/services_6.webp",
          "mtimeMs": 1668421062000,
          "ctimeMs": 1668431931520.4048,
          "date": "2022-11-25T09:17:37.225Z"
        },
        {
          "file": "img/circle_left.svg",
          "mtimeMs": 1668523047146.4282,
          "ctimeMs": 1668523598981.2097,
          "date": "2022-11-25T09:17:25.880Z"
        },
        {
          "file": "img/circle_right.svg",
          "mtimeMs": 1668510142010.3677,
          "ctimeMs": 1668510368079.047,
          "date": "2022-11-25T09:17:26.060Z"
        },
        {
          "file": "img/discount_bg.webp",
          "mtimeMs": 1668514531375.378,
          "ctimeMs": 1668514602269.204,
          "date": "2022-11-25T09:17:27.358Z"
        },
        {
          "file": "img/sheet_1.webp",
          "mtimeMs": 1668499520000,
          "ctimeMs": 1668510365370.8335,
          "date": "2022-11-25T09:17:37.409Z"
        },
        {
          "file": "img/sheet_2.webp",
          "mtimeMs": 1668499520000,
          "ctimeMs": 1668510365368.9783,
          "date": "2022-11-25T09:17:37.558Z"
        },
        {
          "file": "img/sheet_3.webp",
          "mtimeMs": 1668499520000,
          "ctimeMs": 1668510365367.0063,
          "date": "2022-11-25T09:17:37.741Z"
        },
        {
          "file": "img/discount_bg_m.svg",
          "mtimeMs": 1668530029510.9521,
          "ctimeMs": 1668530130162.0056,
          "date": "2022-11-25T09:17:27.615Z"
        },
        {
          "file": "img/lider.webp",
          "mtimeMs": 1668587921006.118,
          "ctimeMs": 1668587944446.7327,
          "date": "2022-11-25T09:17:31.209Z"
        },
        {
          "file": "img/ourwork_bg.webp",
          "mtimeMs": 1668576960000,
          "ctimeMs": 1668587808301.3452,
          "date": "2022-11-25T09:17:32.092Z"
        },
        {
          "file": "img/ourwork_el_1.webp",
          "mtimeMs": 1668576960000,
          "ctimeMs": 1668587808295.2239,
          "date": "2022-11-25T09:17:32.242Z"
        },
        {
          "file": "img/ourwork_el_2.webp",
          "mtimeMs": 1668576960000,
          "ctimeMs": 1668587808297.1677,
          "date": "2022-11-25T09:17:32.577Z"
        },
        {
          "file": "img/ourwork_el_3.webp",
          "mtimeMs": 1668576960000,
          "ctimeMs": 1668587808299.091,
          "date": "2022-11-25T09:17:33.095Z"
        },
        {
          "file": "discounts/index.html",
          "mtimeMs": 1669539499198.2812,
          "ctimeMs": 1669539499198.2812,
          "date": "2022-11-27T08:58:20.287Z"
        },
        {
          "file": "img/stock_darkblue.svg",
          "mtimeMs": 1668709117247.9026,
          "ctimeMs": 1668709158239.033,
          "date": "2022-11-25T09:17:39.523Z"
        },
        {
          "file": "img/discount_mask.webp",
          "mtimeMs": 1668715158854.6177,
          "ctimeMs": 1668715169856.1504,
          "date": "2022-11-25T09:17:27.861Z"
        },
        {
          "file": "img/stock_bg.jpg",
          "mtimeMs": 1668699562882.2168,
          "ctimeMs": 1668701303665.744,
          "date": "2022-11-25T09:17:39.027Z"
        },
        {
          "file": "img/stock_blue.svg",
          "mtimeMs": 1668699387060.067,
          "ctimeMs": 1668703869454.2131,
          "date": "2022-11-25T09:17:39.195Z"
        },
        {
          "file": "img/stock_coral.svg",
          "mtimeMs": 1668699341522.1985,
          "ctimeMs": 1668701303677.2488,
          "date": "2022-11-25T09:17:39.360Z"
        },
        {
          "file": "img/stock_green.svg",
          "mtimeMs": 1668699298240.787,
          "ctimeMs": 1668701303675.7673,
          "date": "2022-11-25T09:17:39.691Z"
        },
        {
          "file": "img/stock_img_1.webp",
          "mtimeMs": 1668701080524.6487,
          "ctimeMs": 1668701303669.3706,
          "date": "2022-11-25T09:17:39.874Z"
        },
        {
          "file": "img/stock_img_2.webp",
          "mtimeMs": 1668690362000,
          "ctimeMs": 1668701303663.959,
          "date": "2022-11-25T09:17:40.057Z"
        },
        {
          "file": "img/stock_img_3.webp",
          "mtimeMs": 1668690362000,
          "ctimeMs": 1668701303660.1438,
          "date": "2022-11-25T09:17:40.266Z"
        },
        {
          "file": "img/stock_img_4.webp",
          "mtimeMs": 1668690362000,
          "ctimeMs": 1668701303662.0305,
          "date": "2022-11-25T09:17:40.457Z"
        },
        {
          "file": "img/stock_img_5.webp",
          "mtimeMs": 1668690362000,
          "ctimeMs": 1668701303658.0642,
          "date": "2022-11-25T09:17:40.648Z"
        },
        {
          "file": "img/stock_main.svg",
          "mtimeMs": 1668698951942.7078,
          "ctimeMs": 1668701303680.2756,
          "date": "2022-11-25T09:17:40.812Z"
        },
        {
          "file": "img/stock_mask.webp",
          "mtimeMs": 1668700989230.3062,
          "ctimeMs": 1668701303667.5857,
          "date": "2022-11-25T09:17:40.994Z"
        },
        {
          "file": "img/stock_orange.svg",
          "mtimeMs": 1668699196862.804,
          "ctimeMs": 1668703876580.285,
          "date": "2022-11-25T09:17:41.172Z"
        },
        {
          "file": "img/stock_pink.svg",
          "mtimeMs": 1668699039430.4658,
          "ctimeMs": 1668703881568.704,
          "date": "2022-11-25T09:17:41.396Z"
        },
        {
          "file": "img/stock_teal.svg",
          "mtimeMs": 1668699255588.7207,
          "ctimeMs": 1668701926966.552,
          "date": "2022-11-25T09:17:41.561Z"
        },
        {
          "file": "work/index.html",
          "mtimeMs": 1669541772052.3452,
          "ctimeMs": 1669541772052.3452,
          "date": "2022-11-27T09:36:14.177Z"
        },
        {
          "file": "img/examples_1.jpg",
          "mtimeMs": 1668762127936.923,
          "ctimeMs": 1668762151660.2349,
          "date": "2022-11-25T09:17:28.446Z"
        },
        {
          "file": "img/examples_2.jpg",
          "mtimeMs": 1668771163001.2153,
          "ctimeMs": 1668771193562.6558,
          "date": "2022-11-25T09:17:29.149Z"
        },
        {
          "file": "img/examples_3.jpg",
          "mtimeMs": 1668771174168.293,
          "ctimeMs": 1668771193559.968,
          "date": "2022-11-25T09:17:29.407Z"
        },
        {
          "file": "img/questions_bg.jpg",
          "mtimeMs": 1668754809892.965,
          "ctimeMs": 1668754840703.2026,
          "date": "2022-11-25T09:17:34.987Z"
        },
        {
          "file": "img/questions_bg_m.jpg",
          "mtimeMs": 1668754295065.8098,
          "ctimeMs": 1668754834413.8394,
          "date": "2022-11-25T09:17:35.652Z"
        },
        {
          "file": "archive/index.html",
          "mtimeMs": 1669539376887.1343,
          "ctimeMs": 1669539376887.1343,
          "date": "2022-11-27T08:56:18.629Z"
        },
        {
          "file": "single/index.html",
          "mtimeMs": 1669539377576.8088,
          "ctimeMs": 1669539377576.8088,
          "date": "2022-11-27T08:56:18.816Z"
        },
        {
          "file": "recall/index.html",
          "mtimeMs": 1669293495834.9966,
          "ctimeMs": 1669293495834.9966,
          "date": "2022-11-25T09:17:44.163Z"
        },
        {
          "file": "guarantee/index.html",
          "mtimeMs": 1669287731154.7803,
          "ctimeMs": 1669287731154.7803,
          "date": "2022-11-25T09:17:23.210Z"
        },
        {
          "file": "contacts/index.html",
          "mtimeMs": 1669287731153.9685,
          "ctimeMs": 1669287731153.9685,
          "date": "2022-11-25T09:17:12.460Z"
        },
        {
          "file": "about/index.html",
          "mtimeMs": 1669540278011.7927,
          "ctimeMs": 1669540278011.7927,
          "date": "2022-11-27T09:11:18.381Z"
        },
        {
          "file": "img/advantages_6.svg",
          "mtimeMs": 1668959582967.4482,
          "ctimeMs": 1668959592569.316,
          "date": "2022-11-25T09:17:24.827Z"
        },
        {
          "file": "img/advantages_10.svg",
          "mtimeMs": 1668950738726.1497,
          "ctimeMs": 1668951239856.089,
          "date": "2022-11-25T09:17:23.843Z"
        },
        {
          "file": "img/advantages_5.svg",
          "mtimeMs": 1668950651776.8435,
          "ctimeMs": 1668951239867.4148,
          "date": "2022-11-25T09:17:24.630Z"
        },
        {
          "file": "img/advantages_7.svg",
          "mtimeMs": 1668950698998.4966,
          "ctimeMs": 1668951239862.787,
          "date": "2022-11-25T09:17:25.010Z"
        },
        {
          "file": "img/advantages_8.svg",
          "mtimeMs": 1668950710670.8076,
          "ctimeMs": 1668951239860.6897,
          "date": "2022-11-25T09:17:25.178Z"
        },
        {
          "file": "img/advantages_9.svg",
          "mtimeMs": 1668950724848.9482,
          "ctimeMs": 1668951239858.7217,
          "date": "2022-11-25T09:17:25.376Z"
        },
        {
          "file": "img/company_bg.webp",
          "mtimeMs": 1668952748520.1133,
          "ctimeMs": 1668952771843.665,
          "date": "2022-11-25T09:17:26.260Z"
        },
        {
          "file": "img/company_el_1.webp",
          "mtimeMs": 1668941466000,
          "ctimeMs": 1668952296384.8376,
          "date": "2022-11-25T09:17:26.461Z"
        },
        {
          "file": "img/company_el_2.webp",
          "mtimeMs": 1668941466000,
          "ctimeMs": 1668952296382.6938,
          "date": "2022-11-25T09:17:26.627Z"
        },
        {
          "file": "img/company_el_3.webp",
          "mtimeMs": 1668941466000,
          "ctimeMs": 1668952296380.74,
          "date": "2022-11-25T09:17:26.795Z"
        },
        {
          "file": "img/head_bg.jpg",
          "mtimeMs": 1668945832381.286,
          "ctimeMs": 1668945855000.6392,
          "date": "2022-11-25T09:17:31.022Z"
        },
        {
          "file": "img/single_img.jpg",
          "mtimeMs": 1669189643731.213,
          "ctimeMs": 1669189680427.7397,
          "date": "2022-11-25T09:17:38.154Z"
        },
        {
          "file": "img/description.jpg",
          "mtimeMs": 1669204040730.305,
          "ctimeMs": 1669204072038.201,
          "date": "2022-11-25T09:17:27.111Z"
        },
        {
          "file": "js/calculator.js",
          "mtimeMs": 1669367430107.441,
          "ctimeMs": 1669367430107.441,
          "date": "2022-11-25T09:17:42.056Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
