{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1667989593646.0884,
          "ctimeMs": 1667989593646.0884,
          "date": "2022-11-09T10:26:34.087Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1667988838876.2747,
          "date": "2022-11-09T10:23:26.228Z"
        },
        {
          "file": "css/select2.min.css",
          "mtimeMs": 1651056167753.571,
          "ctimeMs": 1667988823329.7546,
          "date": "2022-11-09T10:23:26.412Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1651058349771.736,
          "ctimeMs": 1667988823330.9263,
          "date": "2022-11-09T10:23:26.631Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823411.0007,
          "date": "2022-11-09T10:23:26.937Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823413.2559,
          "date": "2022-11-09T10:23:27.228Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823412.169,
          "date": "2022-11-09T10:23:27.481Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823409.9155,
          "date": "2022-11-09T10:23:27.714Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823408.1982,
          "date": "2022-11-09T10:23:27.980Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823404.3064,
          "date": "2022-11-09T10:23:28.230Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823406.1414,
          "date": "2022-11-09T10:23:28.486Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823403.7476,
          "date": "2022-11-09T10:23:28.714Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.eot",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1667988823408.8643,
          "date": "2022-11-09T10:23:29.016Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.ttf",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1667988823402.985,
          "date": "2022-11-09T10:23:29.276Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1667988823411.5684,
          "date": "2022-11-09T10:23:29.527Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff2",
          "mtimeMs": 1650804044000,
          "ctimeMs": 1667988823406.7236,
          "date": "2022-11-09T10:23:29.764Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.eot",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823409.4148,
          "date": "2022-11-09T10:23:30.013Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.ttf",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823407.4377,
          "date": "2022-11-09T10:23:30.295Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823405.5947,
          "date": "2022-11-09T10:23:30.566Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff2",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823405.0486,
          "date": "2022-11-09T10:23:30.812Z"
        },
        {
          "file": "fonts/Roboto/demo.html",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823412.7737,
          "date": "2022-11-09T10:23:30.985Z"
        },
        {
          "file": "fonts/Roboto/stylesheet.css",
          "mtimeMs": 1650804046000,
          "ctimeMs": 1667988823410.3386,
          "date": "2022-11-09T10:23:31.162Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.eot",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1667988823393.67,
          "date": "2022-11-09T10:23:31.440Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.ttf",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1667988823396.8665,
          "date": "2022-11-09T10:23:31.718Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff",
          "mtimeMs": 1650803988000,
          "ctimeMs": 1667988823393.1597,
          "date": "2022-11-09T10:23:31.946Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Bold.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823396.302,
          "date": "2022-11-09T10:23:32.145Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823400.3076,
          "date": "2022-11-09T10:23:32.379Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823398.1946,
          "date": "2022-11-09T10:23:32.600Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823394.3584,
          "date": "2022-11-09T10:23:32.828Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Light.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823399.0835,
          "date": "2022-11-09T10:23:33.044Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823395.258,
          "date": "2022-11-09T10:23:33.319Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823392.756,
          "date": "2022-11-09T10:23:33.596Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823395.794,
          "date": "2022-11-09T10:23:34.007Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Medium.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823399.5037,
          "date": "2022-11-09T10:23:34.212Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.eot",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823398.6633,
          "date": "2022-11-09T10:23:34.474Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.ttf",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823400.7373,
          "date": "2022-11-09T10:23:34.708Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823401.223,
          "date": "2022-11-09T10:23:34.962Z"
        },
        {
          "file": "fonts/Roboto_Slab/RobotoSlab-Regular.woff2",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823397.7622,
          "date": "2022-11-09T10:23:35.194Z"
        },
        {
          "file": "fonts/Roboto_Slab/demo.html",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823399.9148,
          "date": "2022-11-09T10:23:35.353Z"
        },
        {
          "file": "fonts/Roboto_Slab/stylesheet.css",
          "mtimeMs": 1650803990000,
          "ctimeMs": 1667988823397.293,
          "date": "2022-11-09T10:23:35.511Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823417.1924,
          "date": "2022-11-09T10:23:35.651Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823417.5862,
          "date": "2022-11-09T10:23:35.835Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823416.7258,
          "date": "2022-11-09T10:23:35.994Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823416.3386,
          "date": "2022-11-09T10:23:36.149Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823414.7627,
          "date": "2022-11-09T10:23:36.342Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823415.347,
          "date": "2022-11-09T10:23:36.498Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823419.3438,
          "date": "2022-11-09T10:23:36.661Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823419.7505,
          "date": "2022-11-09T10:23:36.836Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823418.3293,
          "date": "2022-11-09T10:23:37.019Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1650820846000,
          "ctimeMs": 1667988823418.734,
          "date": "2022-11-09T10:23:37.186Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666358151865.4297,
          "ctimeMs": 1667988823374.3376,
          "date": "2022-11-09T10:23:37.810Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1666358600335.975,
          "ctimeMs": 1667988823333.8474,
          "date": "2022-11-09T10:23:37.950Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1667988823375.9375,
          "date": "2022-11-09T10:23:38.161Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1667988823374.8508,
          "date": "2022-11-09T10:23:38.327Z"
        },
        {
          "file": "js/select2.min.js",
          "mtimeMs": 1651056282665.825,
          "ctimeMs": 1667988823332.6404,
          "date": "2022-11-09T10:23:38.528Z"
        },
        {
          "file": "js/slick.min.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1667988823375.3865,
          "date": "2022-11-09T10:23:38.734Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1667989482623.8513,
          "ctimeMs": 1667989557757.7222,
          "date": "2022-11-09T10:26:46.082Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
