// Breadcrumb ==================================================================

.breadcrumbs {
	padding-top: 5.35em!important;
	padding-bottom: 0;
	line-height: 1.1;
	font-size: 0.75em;
	@media (min-width: 768px) {
		line-height: $main_line_height;
		padding-top: 13em!important;
		padding-bottom: 0.75em;
		/* 12/16 */
		font-size: 1em;
	}

	.kama_breadcrumbs {
		a {
			text-decoration: none;
		}

		a,
		span {
			color: rgba($main_color, 0.6);
			/* 12/16 */
			@media (min-width: 768px) {}
		}

		span {
			> a {
				> span {
					font-size: 1em;
				}
			}
		}

		.kb_sep {
			transform: translateY(-0.15em);
			display: inline-block;
			margin: 0 0.375em;
			width: 0.25em;
			height: 0.25em;
			background-color: rgba($main_color, 0.6);
			border-radius: 50%;
			font-size: 1em;
		}

		// .kb_title {
		// 	color: $main_color;
		// 	font-weight: 600;
		// }

	}

}
