// Style for button and pseudo button for input and link

.btn {
	display: inline-block;

	padding: 0.9375em 3.15em;
	max-width: 100%;

	color: $color_warning;
	font-family: $main_font_family;
	font-size: 0.875em;
	font-weight: 600;

	border: 0.0625em solid $color_warning;
	outline: none;
	text-decoration: none;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border-radius: 0.57em;
	transition: 0.3s;
	transition-property: background color border-color;
	@media (max-width: 767px) {
		width: 100%;
	}

	&:hover {
		background-color: $color_warning;
		color: $color_white;
	}

	&:active {
		background-color: darken($color_warning, 3%);
	}

	&:disabled {
		border: 0.0625em solid #CDCDCD;
		color: #CDCDCD;
		cursor: not-allowed;
	}

	&_arrow {
		padding-right: 4.507em;

		span {
			position: relative;

			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-42%);
				right: -2em;

				content: '\e900';
				font-family: 'icomoon';
				font-size: 0.875em;

			}
		}
	}

	&_callback {
		padding-left: 3.91em;
		padding-right: 1.86em;

		span {
			position: relative;

			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-45%);
				left: -1.75em;

				content: '\e909';
				font-family: 'icomoon';
				font-size: 1.1875em;
				font-weight: 300;

			}
		}
	}

	&_bg {
		color: $color_white;
		background-color: $color_warning;

		&:hover {
			background-color: #FE9F30;
			box-shadow: 0 0 10px rgba(254, 159, 48, 0.65);
			border: 0.0625em solid rgba(254, 159, 48, 0.65);
		}

		&:disabled {
			color: $color_white;
			background-color: #CDCDCD;
		}
	}

	&_white {
		background-color: $color_white;
		color: #996221;

		&:hover {
			color: #996221;
			background-color: darken($color_white, 5%);
		}
	}

}
