/* Header
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #ddd;

	&__content {
		@extend .container_center;
		margin: auto;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 23px;
		padding-bottom: 33px;
	}

	&__logo {
		.logo {
			display: inline-block;
			width: 8.125em;
			height: 4.1875em;
		}
	}

	&__search {
		@media (min-width: 768px) {
			width: 20.625em;
			flex: none;
		}
	}

	&__item {
		display: flex;
		align-items: center;

		> span {
			font-weight: 600;
			font-size: 1.5em;
		}
	}

	&__icon {
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5625em;
		height: 2.5625em;
		border-radius: 50%;
		background-color: #E6EBEC;
		margin-right: 0.9375em;

		i {
			color: $color_info;
			font-size: 1.125em;
		}
	}

	&__text {
		line-height: 1.125;

		span {
			font-size: 1em;

			&:nth-child(2) {
				display: block;
				opacity: 0.6;
			}
		}
	}

	&__bottom {
		// border: 1px solid #000;

		background: #0A8299;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);
		border-radius: 16px;
		// display: none;
	}

	&__nav {}

	&__toggle {}

}
