/* Header
 ----------------------------------------------------------------------------- */
.header {
	@media (max-width: 767px) {
		background: #0B8EA7;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);

	}

	&__content {
		@extend .container_center;
		margin: auto;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		@media (min-width: 768px) {
			padding-top: 1.4375em;
			padding-bottom: 2.0625em;

		}
	}

	&__logo {
		.logo {
			display: inline-block;
			width: 4.5em;
			/* 72/16 */
			height: 2.125em;
			/* 34/16 */
			@media (min-width: 768px) {
				width: 8.125em;
				height: 4.1875em;

			}
		}
	}

	&__search {
		@media (min-width: 768px) {
			width: 20.625em;
			flex: none;
		}
	}

	&__item {
		display: flex;
		align-items: center;

		> span {
			font-weight: 600;
			font-size: 1.5em;
		}
	}

	&__icon {
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5625em;
		height: 2.5625em;
		border-radius: 50%;
		background-color: #E6EBEC;
		margin-right: 0.9375em;

		i {
			color: $color_info;
			font-size: 1.125em;
		}
	}

	&__text {
		line-height: 1.125;

		span {
			font-size: 1em;

			&:nth-child(2) {
				display: block;
				opacity: 0.6;
			}
		}
	}

	&__bottom {

		@media (max-width: 767px) {

			position: fixed;
			right: -20.5em;
			top: 0;
			bottom: 0;
			background-color: $color_white;
			width: 20.5em;
			/* 328/16 */
			z-index: 10;
			overflow: hidden;
			// padding: 5em 1.25em 2em;
			padding: 5em 0 2em;
			transition: right 0.3s;
			box-shadow: 0 0 1em rgba(#000, .1);

			height: 100%;
			overflow-y: auto;

			&_open {
				right: 0;
			}
		}

		@media (min-width: 768px) {

			background: #0A8299;
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);
			border-radius: 16px;
		}

	}

	&__nav {}

	&__toggle {
		position: absolute;

		@media (max-width: 767px) {
			top: 1.25em;
			right: 0.9375em;
			/* 15/16 */
			width: 1.25em;
			height: 0.875em;
			color: $color_white;
			border: 0.125em solid;
			border-left: 0;
			border-right: 0;
			z-index: 51;
			cursor: pointer;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				border-top: 0.125em solid;

				position: absolute;
				top: 50%;
				// выровнить псевдо эл. по центру: половина от толщины border
				margin-top: -0.0625em;
				left: 0;
				width: 100%;
				transition: transform 0.3s;

			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&_open {
				border: 0;
				position: fixed;

				&:after,
				&:before {
					content: '';
					border-top: 0.125em solid $main_color;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}

}

.nav-open {
	overflow: hidden;
}

// .nav_open_bg {
// 	background-color: red;
// }

@media (max-width: 767px) {
	.nav_open_bg {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		background: rgba(47, 55, 56, 0.4);
		backdrop-filter: blur(10px);

		z-index: 8;
		transition: 0.3s;
		opacity: 0;
		visibility: hidden;

		&_open {
			opacity: 1;
			visibility: visible;
		}
	}

}
