.header {
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        > .menu-item {

            @media (max-width: 767px) {
                .icon_toggle {
                    display: none;
                }

                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
            }

            padding: 1.375em 1.25em;
            border-bottom: 0.0625em solid rgba(#0B8EA7, 0.2);

            @media (min-width: 768px) {
                margin-bottom: 0;
                padding: 1.3125em 3.375em 1.5em;
                border-bottom: 0;

                &:first-child {
                    background-color: #0B8EA7;
                    border-radius: 1em;
                    padding-left: 5.375em;

                    a {
                        i {
                            left: -1.65em;
                        }
                    }
                }
            }

            i {

                position: absolute;
                top: 50%;
                transform: translateY(-46%);
                font-size: 1.125em;
                left: -1.5em;

                @media (min-width: 768px) {
                    font-size: 1.25em;
                    top: 50%;
                    transform: translateY(-46%);
                    font-size: 1.25em;
                    left: -1.5em;
                    color: rgba($color_white, 0.7);
                }
            }

            > a {
                text-transform: uppercase;
                @media (min-width: 768px) {
                    text-transform: none;
                }

            }

            a {
                margin-left: 1.5em;
                @media (min-width: 768px) {
                    margin-left: 0;

                    &:hover {
                        color: rgba($color_white, 0.7);
                    }

                }
            }

        }

        &-item {
            a {
                position: relative;
                font-weight: 600;
                font-size: 1em;
                text-decoration: none;
                color: $main_color;

                @media (min-width: 768px) {
                    color: rgba($color_white, 1);

                }

            }
        }

        .menu-item-has-children {
            position: relative;

            @media (min-width: 768px) {
                &:hover {
                    > .sub-menu {
                        height: auto;
                        opacity: 1;
                        transform: translateY(0);
                        visibility: visible;
                    }
                }
            }

            // start DROP 2
            .menu-item-has-children {
                position: initial;

                .sub-menu {
                    display: none;

                }

                @media (min-width: 768px) {
                    .sub-menu {
                        display: block;

                        position: absolute;
                        background-color: #F0F7FB;
                        top: 0;
                        bottom: 0;
                        left: 99%;
                        width: 20.875em;
                        padding: 1.875em 0 1.875em 1.875em;
                        border-top-right-radius: 1em;
                        border-bottom-right-radius: 1em;
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        transition: transform 0s;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: -0.5em;
                            width: 1em;
                            background-color: #F0F7FB;
                        }

                        .menu-item {
                            margin-bottom: 0.9375em;

                            &:first-child {
                                border-top-left-radius: 0;
                            }

                            &:last-child {
                                margin-bottom: 0;
                                border-bottom-left-radius: 0;
                            }

                        }

                        a {
                            font-size: 0.875em;
                            color: $color_info;
                            padding: 0;

                            &:hover {
                                color: lighten($color_info, 20%);

                                @media (min-width: 768px) {
                                    &:after {
                                        margin-left: 0.75em;
                                        color: lighten($color_info, 20%);

                                    }
                                }
                            }

                            &:after {
                                content: '\e903';
                                font-family: 'icomoon';
                                font-size: 0.75em;
                                margin-left: 0.5em;
                                color: $color_info;

                                @media (min-width: 768px) {
                                    position: absolute;
                                    margin-top: 0.25em;
                                    // top: 1em;

                                    display: inline-block;
                                    transition: 0.3s;

                                }

                            }
                        }
                    }

                }

            }
            // end DROP 2

        }

    }

    .sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: 768px) {
            height: 0;
            opacity: 0;
            visibility: hidden;

            background: $color_white;

            z-index: 10;

            position: absolute;
            top: 100%;
            left: 0;
            transform: translateY(0.5em);
            width: 23.75em;

            border-bottom-left-radius: 1em;
            border-top-left-radius: 1em;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);

            transition: transform 0.3s;
        }

        @media (max-width: 767px) {
            &.open {
                height: auto;
                opacity: 1;
                top: 100%;
                visibility: visible;
                padding: 1em;
                margin-top: 0.5em;
            }

        }

        .menu-item {
            padding-bottom: 0;
            cursor: pointer;

            &:first-child {
                margin-top: 1.375em;
            }

            padding-left: 1.75em;
            margin-bottom: 1.485em;

            &:last-child {
                margin-bottom: 0;
            }

            @media (min-width: 768px) {
                overflow: hidden;
                margin-bottom: 0;
                padding-left: 0;

                &:first-child {
                    margin-top: 0;
                    border-top-left-radius: 1em;
                }

                &:last-child {
                    border-bottom-left-radius: 1em;
                }

                &:hover {
                    > a {
                        color: $color_black;
                        background-color: #F0F7FB;
                    }
                }
            }

            a {
                color: $color_black;
                font-weight: 400;
                display: block;
                font-size: 1em;
                text-transform: inherit;
                margin-left: 1.75em;

                @media (min-width: 768px) {
                    margin-left: 0;
                }

                i {
                    left: -1.375em!important;
                    font-size: 1.5em!important;
                }

                @media (min-width: 768px) {
                    i {
                        left: 0.7em!important;
                        font-size: 2em!important;
                    }

                    font-size: 1.125em;
                    padding-left: 4.445em;
                    padding-top: 1.2899em;
                    padding-bottom: 1.2899em;

                    margin-bottom: 0;
                }

                .icon_water {
                    color: #18BCB6;
                }

                .icon_tree {
                    color: #C03744;
                }

                .icon_trowel {
                    color: #4BA8E2;
                }

                .icon_monolithic {
                    color: #7C68E1;
                }

                .icon_machine {
                    color: #6C9D46;
                }

                .icon_crane {
                    color: #FB6D6D;
                }
            }
        }

    }

    // .current-menu-item > a {
    //     color: $color_info;
    //     text-shadow: 0 0 0.35px;
    // }

}
