.payment {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }

    &__item {
        margin-right: 1.25em;

        &:last-child {
            margin-right: 0;
        }
    }

}
