.soc {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 0.75em;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        color: rgba($color_white, 0.4);

        i {
            font-size: 1.969em;

        }

        @media (min-width: 768px) {
            &:hover {
                color: rgba($color_white, 0.7);
            }
        }

    }

}
