extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span.kb_title Гарантии

    // end breadcrumbs

    // begin test
    section.section
        .container_center

            h1 Гарантии

            .section__flex
                .section__content
                    p С гарантией приходилось сталкиваться каждому. Это обещание производителя, что купленная вами вещь прослужит оговоренный срок, не сломается при использовании, не потребует ремонта или дополнительного вложения средств. Любой потребитель ожидает подобных гарантий от покупки товара или приобретения услуг. Это его уверенность в том, что затраченные средства оправдают себя.
                .section__content
                    p В нашем деле все то же самое. Основное назначение рекламы – продвигать продажи, обращать внимание, делать узнаваемым продукт и услуги, формировать положительный имидж. Это относится к любым рекламным средствам, в особенности к широкоформатной печати и изготовлению рекламных конструкций. Отсюда несложно сделать выводы: от качества оказанных рекламных услуг зависит качество и эффективность рекламной кампании клиента.

            .section__img.img
                img(src="../img/single_img.jpg")

            .section__row
                .section__content
                    h2 Качество как гарантия эффективности

                    p Пообещать гарантию, а потом не оправдать ожидания клиента – кошмар любого добросовестного участника рынка. Компания «А-Риал» заботится о своей репутации и о репутации каждого из своих клиентов, поэтому мы не бросаем «слов на ветер» и не гарантируем то, чего не можем обещать!

                    blockquote
                        p Обратившись к нам за услугами, вы получаете единственную гарантию – «На совесть».

                    p Большинство наших клиентов далеки от познаний технических тонкостей рекламных конструкций. Все, что им необходимо – чтобы сделанный им заказ в точности прослужил назначенной цели: баннер не порвался от ветра, пленка не отклеилась, а стенд не деформировался. Как можно за этим проследить, находясь в стороне? Очень просто!

            .section__row
                .section__content
                    h2 Секрет наших гарантий

                    p Применение качественных расходных материалов, чернил, комплектующих, привлечение к монтажным работам команды квалифицированных специалистов, творческий подход – это базис, на котором строятся все наши услуги.

                    p <b>Столь прочное «основание» позволяет нам давать гарантии:</b>

                    ul
                        li На баннерные материалы – 1 год
                        li На напечатанные изображения – 1 год
                        li На установку и монтаж конструкций – 1 год

                    p Получая от нашей компании гарантию «На совесть», вы получаете пожизненную гарантию на возможность решения любых вопросов с максимальным соблюдением ваших интересов.

            .section__row
                .section__content
                    h2 Тонкости гарантийных обязательств

                    p В любом деле имеются свои нюансы и моменты «по умолчанию». Есть они и в отношении гарантий. Мы не пытаемся работать против клиентов, мы работаем вместе с ними. На практике это выглядит следующим образом:

                    ol
                        li Вы делаете заказ на изготовление рекламной конструкции либо оказание иной услуги.
                        li Мы выполняем заказ, отдаем готовый проект, гарантируя его качество и работоспособность в вышеназванные сроки.
                        li Вместе с гарантиями вы получаете рекомендации по эксплуатации рекламных конструкций, соблюдаете их и получаете желаемый результат!

                    blockquote.danger
                        p Внимание! Рекомендуем ознакомиться с <a href="#">политикой конфиденциальности</a>















    // end test



    // begin questions
    section#questions.questions.section
        .container_center
            .questions__content.bg
                .questions__title
                    span Остались вопросы?
                .questions__label
                    span Напишите нам и наш менеджер перезвонт вам в течение 24 часов
                .questions__form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")



                        .form__row
                            .form__label
                                span Ваше ФИО*
                            input(type="text", required placeholder="Напишите ваше ФИО")


                        .form__row
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row.form__row_textarea
                            .form__label
                                span Ваш вопрос
                            textarea(type="text", placeholder="Опишите вашу проблему")


                        .form__row.form__row_mt20
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mt20
                            .form__text
                                span Нажимая на кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>

                        //- .form__row.form__row_mb0
                        //-     .form__success
                        //-         span Спасибо за обращение!


    // end questions
