header.header
    .header__content
        .header__top
            .header__logo
                a.logo.img(href="/")
                    img.desktop(src="/img/logo.svg", alt="alt")
                    img.mobile(src="/img/logo_w.svg", alt="alt")


            .header__mobile.mobile
                .feedback
                    .feedback__toggle
                        i.icon_phone

                    .feedback__content
                        a.feedback__close(href="#")
                        .feedback__phone
                            .phone
                                .header__icon
                                    i.icon_phone
                                a(href="tel:+7 (812) 345-54-54") +7 (812) 345-54-54
                        .feedback__text
                            span Или вы можете заказать обратный звонок. Напишите нам и мы наш менеджер перезвонит вам в течении 24 часов!
                        .feedback__form
                            form.form(action="send.php")
                                //- из какой формы на сайте
                                input(type="hidden" name="subject" value="форма в футоре")
                                //- проверка спама
                                input(type="hidden" name="notspam" value="")

                                .form__row
                                    .form__label
                                        span Введите ваш номер телефона*
                                    input(type="text", required placeholder="8 (___) ___ ____")

                                .form__row.form__row_mb10
                                    .button
                                        button.btn.btn_callback.btn_bg(type="submit")
                                            span Заказать звонок

                                .form__row.form__row_mb0
                                    .form__privacy
                                        span Нажимая на кнопку, вы соглашаетесь  с <br>  <a href="#" target="_blank">политикой конфиденциальности</a>

                a.search__link.mobile(href="")
                    i.icon_loop

            .header__search.desktop
                .search
                    .search-form__inner
                        form.search-form
                            input(type="text" placeholder="Введите для поиска").search-form__input
                            button.btn_search
                                i.icon_loop

            .header__item.desktop
                .header__icon
                    i.icon_location
                .header__text
                    span Работаем в Санкт- <br>Петербурге и области
            .header__item.desktop
                .header__icon
                    i.icon_clock
                .header__text
                    span 8:00 - 22:00
                    span пн-вс
            .header__item.desktop
                .header__icon
                    i.icon_phone
                span +7 (812) 345-54-54
            .header__item.desktop
                .calback
                    a(href="#").btn.btn.btn_callback.btn_bg 
                        span Заказать звонок


        .header__bottom
            .header__item.header__item_bottom.mobile
                .search
                    .search-form__inner
                        form.search-form
                            input(type="text" placeholder="Введите для поиска").search-form__input
                            button.btn_search
                                i.icon_loop
            .header__nav
                nav.navbar#navbar
                    ul.menu
                        li.menu-item.menu-item-has-children
                            a(href="#") Наши услуги
                                i.icon_toggle
                            ul.sub-menu
                                li.menu-item.menu-item-has-children
                                    a(href="#") Гидроизоляционные работы
                                        i.icon_water
                                    ul.sub-menu
                                        each item in ['Въезд на дачный участок под ключ', 'Планировка рельефа', 'Демонтаж фундамента', 'Устройство парковки', 'Бетонная площадка под автомобиль', 'Мощение дорожек', 'Укрепление склонов', 'Габионы. МАФ', 'Укладка тротуарной плитки', 'Вывоз строительного мусора', 'Установка заборов' ]
                                            li.menu-item
                                                a(href="#")=item

                                li.menu-item.menu-item-has-children
                                    a(href="#") Благоустройство территории
                                        i.icon_tree
                                    ul.sub-menu
                                        each item in ['Въезд на дачный участок под ключ', 'Планировка рельефа', 'Демонтаж фундамента', 'Устройство парковки', 'Бетонная площадка под автомобиль', 'Мощение дорожек', 'Укрепление склонов', 'Габионы. МАФ', 'Укладка тротуарной плитки', 'Вывоз строительного мусора', 'Установка заборов' ]
                                            li.menu-item
                                                a(href="#")=item
                                li.menu-item
                                    a(href="#") Общестроительные работы
                                        i.icon_trowel
                                li.menu-item.menu-item-has-children
                                    a(href="#") Монолитные работы
                                        i.icon_monolithic
                                    ul.sub-menu
                                        each item in ['Въезд на дачный участок под ключ', 'Планировка рельефа', 'Демонтаж фундамента', 'Устройство парковки', 'Бетонная площадка под автомобиль', 'Мощение дорожек' ]
                                            li.menu-item
                                                a(href="#")=item
                                li.menu-item
                                    a(href="#") Земляные работы 
                                        i.icon_machine
                                li.menu-item
                                    a(href="#") Инженерные сети
                                        i.icon_crane


                        li.menu-item
                            a(href="#") Акции и скидки
                                i.icon_discont
                        li.menu-item
                            a(href="#") Примеры работ
                                i.icon_bag
                        li.menu-item
                            a(href="#") Отзывы
                                i.icon_recall
                        li.menu-item
                            a(href="#") Гарантии
                                i.icon_guarantee
                        li.menu-item
                            a(href="#") Контакты
                                i.icon_info

            .header__item.header__item_bottom.mobile
                .phone
                    .header__icon
                        i.icon_phone
                    a(href="tel:+7 (812) 345-54-54") +7 (812) 345-54-54
                .calback
                    a(href="#").btn.btn.btn_callback.btn_bg 
                        span Заказать звонок

            .header__item.header__item_bottom.mobile
                .info
                    .info__item
                        .info__icon
                            i.icon_clock
                        .info__label
                            span ПН-ВС, 8:00 - 22:00
                    .info__item
                        .info__icon
                            i.icon_location
                        .info__label
                            span Санкт-Петербург,<br> Орендовского д.353,<br> оф. 4
                    .info__item
                        .info__icon
                            i.icon_mark
                        .info__label
                            span ИИН: 910<span></span> 234<span></span> 456 124
                    .info__item
                        .info__icon
                            i.icon_mail
                        .info__label
                            a(href="mailto:pochta@primer.ru") Pochta@primer.ru

                .soc
                    .soc__item
                        a(href="#").soc__link
                            i.icon_facebook
                    .soc__item
                        a(href="#").soc__link
                            i.icon_vk
                    .soc__item
                        a(href="#").soc__link
                            i.icon_twiter
                    .soc__item
                        a(href="#").soc__link
                            i.icon_instagram

            .header__item.mobile
                .payment
                    .payment__item
                        .payment__img
                            img(src="/img/pay_header.svg")
                    .payment__item
                        .payment__img.payment__img_mastercard.img
                            img(src="/img/mastercard.svg")
                    .payment__item
                        .payment__img
                            img(src="/img/visa.svg")
                    .payment__item
                        .payment__img
                            img(src="/img/mir.svg")

                .more
                    .more__item
                        a(href="#") Политика концендициальности
                    .more__item
                        a(href="#") Сообщить об ошибке
                    .more__item
                        a(href="#") Политика обработки персональных данных



        .header__toggle
