// Begin Modal aveQuestions
.modal.fade.aveQuestions#aveQuestions
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Есть вопросы?
                .modal-subtitle
                    span Напишите нам и мы наш менеджер перезвонит вам в течении 24 часов!
            .modal-body
                .modal-form
                    form.form(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")

                        .form__row.form__row_mb30
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mb0
                            .form__privacy
                                span Нажимая на кнопку, вы соглашаетесь  с <a href="#" target="_blank">политикой конфиденциальности</a>


// End modal aveQuestions


// Begin Modal aveQuestions
.modal.fade.aveQuestions#aveQuestions1
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Есть вопросы?
                .modal-subtitle
                    span Напишите нам и мы наш менеджер перезвонит вам в течении 24 часов!
            .modal-body
                .modal-form
                    form.form(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")

                        .form__row.form__row_mb30
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mb0
                            .form__privacy
                                span Нажимая на кнопку, вы соглашаетесь  с <a href="#" target="_blank">политикой конфиденциальности</a>

                        .form__row.form__row_mb0
                            .form__success
                                span Спасибо за обращение!



// End modal aveQuestions


// Begin Modal directorq
.modal.fade.directorq#directorq
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Оставьте ваш вопрос директору
                .modal-subtitle
                    span Мы передадим ваш вопрос директору и перезвоним с ответом
            .modal-body
                .modal-form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")



                        .form__row
                            .form__label
                                span Ваше ФИО*
                            input(type="text", required placeholder="Напишите ваше ФИО")


                        .form__row
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row.form__row_textarea
                            .form__label
                                span Ваш вопрос
                            textarea(type="text", placeholder="Опишите вашу проблему")


                        .form__row.form__row_mt20
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mt20
                            .form__text
                                span * Наш менеджер позвонит вам в течение 48 часов

                        //- .form__row.form__row_mb0
                        //-     .form__success
                        //-         span Спасибо за обращение!

// End modal directorq

// Begin Modal directorq
.modal.fade.directorq#directorq1
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Оставьте ваш вопрос директору
                .modal-subtitle
                    span Мы передадим ваш вопрос директору и перезвоним с ответом
            .modal-body
                .modal-form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")



                        .form__row
                            .form__label
                                span Ваше ФИО*
                            input(type="text", required placeholder="Напишите ваше ФИО")


                        .form__row
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row.form__row_textarea
                            .form__label
                                span Ваш вопрос
                            textarea(type="text", placeholder="Опишите вашу проблему")


                        .form__row.form__row_mt20
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mt20
                            .form__text
                                span * Наш менеджер позвонит вам в течение 48 часов

                        .form__row.form__row_mb0
                            .form__success
                                span Спасибо за обращение!

// End modal directorq







//- // Begin Modal modalVideo
//- .modal.fade.modalVideo#modalVideo
//-     .modal-dialog
//-         .modal-content
//-             a(href="#" class="modal-close" data-dismiss="modal")
//-             .modal-body 
//-                 .modalVideo__wraper
//- // End modal modalVideo

// Begin Modal info
.modal.fade.info#info
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .form__message
// End modal info

//- // Begin Modal privacy
//- .modal.fade.privacy#privacy
//-     .modal-dialog
//-         .modal-content
//-             a(href="#" class="modal-close" data-dismiss="modal")
//-             .modal-body
//-                 .privacy__content
//-                     .content__content
//-                         h2 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
//-                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//-                         p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//-                         p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//-                         p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//-                         p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
//-                         p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
//-                         p Lorem ipsu
//- 
//- // End modal privacy
