// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo

// Begin Modal info
.modal.fade.info#info
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .form__message
// End modal info

// Begin Modal privacy
.modal.fade.privacy#privacy
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body
                .privacy__content
                    .content__content
                        h2 ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p  1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sed!
                        p Lorem ipsu

// End modal privacy

// Begin Modal application
.modal.fade.application#application
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title 
                    span Быстро<br> оставить заявку
                    small Введите номер — позвоним вам<br> в течение 10 минут в рабочее время
            .modal-body
                .modal-form
                    form.form
                        .form__row
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Позвоните мне

                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>


// End modal application

// Begin Modal vacancymodal
.modal.fade.vacancymodal#vacancymodal
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Оставьте свой<br> отклик на вакансию
            .modal-body
                .modal-form
                    form.form

                        .form__row
                            .form__label
                                span Прикрепите резюме, если есть
                            label.form__file_label(data-text="Файл не выбран")
                                input(type='file' required='required')
                                p.form__file Загрузить файл

                        .form__row
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Оставьте отклик

                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

// End modal vacancymodal

// Begin Modal mortgage
.modal.fade.mortgage#mortgage
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Узнайте условия<br> строительства своего<br> дома в ипотеку 
                    small Введите номер — позвоним вам<br> в течение 10 минут в рабочее время
            .modal-body
                .modal-form
                    form.form
                        .form__row
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Позвоните мне

                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

// End modal mortgage

// Begin Modal discounts
.modal.fade.discounts#discounts
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Расскажем про<br> актуальные скидки
                    small Введите номер — позвоним вам<br> в течение 10 минут в рабочее время
            .modal-body
                .modal-form
                    form.form
                        .form__row
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Позвоните мне

                        .form__row.form__row_full.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

// End modal discounts

// Begin Modal calculate
.modal.fade.calculate#calculate
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Что вам нужно рассчитать?
            .modal-body
                .modal-list
                    each item in ['Ремонт квартиры/дома', 'Ремонт коммерческого<br> объекта', 'Дизайн-проект<br> интерьера', 'Строительство и<br> проектирование дома ' ]
                        a(href="#").modal-item
                            i.icon_mark
                            span!=item


// End modal calculate

// Begin Modal download
.modal.fade.download#download
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal" id="closeModalDownload")
            .modal-header
                .modal-title
                    span Не можем отпустить вас с пустыми руками!
                    small Возможно, вам сейчас не требуются наши услуги, но давайте будем на связи
                .modal-title.modal-title_regular
                    span Скачайте в 1 клик<br> презентацию с отличными<br> идеями для вдохновения
            .modal-body
                .modal-form
                    form.form.form_sm
                        .form__row
                            .form__label
                                span Куда прислать?
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram
                                option(value="mail") Email

                        .form__row.form__row_hide.form__row_email_js
                            .form__label
                                span Введите email
                            input(type="email" placeholder="E-mail")

                        .form__row.form__row_phone_js
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Скачать презентацию

                        .form__row.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

// End modal download

// Begin Modal download2
.modal.fade.download.download_2#download2
    .modal-dialog
        .modal-content.bg
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title.modal-title_large
                    span Скачайте<br> презентацию<br> АРТСТРОЙ
            .modal-body
                .modal-form
                    form.form.form_sm
                        .form__row
                            .form__label
                                span Куда прислать?
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram
                                option(value="mail") Email

                        .form__row.form__row_hide.form__row_email_js
                            .form__label
                                span Введите email
                            input(type="email" placeholder="E-mail")

                        .form__row.form__row_phone_js
                            .form__label
                                span Введите номер телефона
                            input(type="tel" class="tel" required placeholder="+7 ( _ _ _ ) - _ _ _ - _ _ - _ _")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit")
                                span Скачать презентацию

                        .form__row.form__row_mb0
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span.snakeline Нажимая кнопку вы соглашаетесь  с условиями<br> <a href="#privacy" class="show_js">Политики конфиденциальности</a>

// End modal download2
