extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin firstscreen
    section#firstscreen.firstscreen.section
        .container_center
            .firstscreen__wrap
                .swiper.single.single-swiper-js
                    .swiper-wrapper.single__wrapper
                        each item in [1,1,1,1]
                            .swiper-slide.single__slide
                                .firstscreen__bg.bg.desktop(style="background-image: url('../../img/firstscreen_bg.webp')")
                                    .firstscreen__content
                                        .firstscreen__title
                                            span Пусть ваши мечты станут нашим проектом
                                        .firstscreen__action
                                            a.btn.btn_arrow.btn_bg.show_js(href="#aveQuestions")
                                                span Заказать проект

                                .firstscreen__bg.bg.mobile(style="background-image: url('../../img/firstscreen_bg_m.webp')")
                                    .firstscreen__content
                                        .firstscreen__title
                                            span Пусть ваши мечты станут нашим проектом
                                        .firstscreen__action
                                            a.btn.btn_arrow.btn_bg.show_js(href="#aveQuestions")
                                                span Заказать проект

                .single__control
                    .single__dotted
                    .single__arrows.desktop
                        i.icon_arrow_left
                        i.icon_arrow_right

                .firstscreen__el.bg.firstscreen__el_1.desktop(data-speed="-0.2").parallax-el-js
                .firstscreen__el.bg.firstscreen__el_2.desktop(data-speed="0.4").parallax-el-js

    // end firstscreen

    // begin services
    section#services.services.section
        .container_center
            h1 Наши услуги
            .section__content
                p Наша компания проводит работы по благоустройству; общестроительные, монолитные, земельные, инженерные и гидроизоляционные работы. 


            .services__list
                each item in [ {bg: '1', title: 'Гидроизоляционные работы', icon: '<i class="icon_water"></i>'},  {bg: '2', title: 'Благоустройство территории', icon: '<i class="icon_tree"></i>'},  {bg: '3', title: 'Общестроительные работы', icon: '<i class="icon_trowel"></i>'},  {bg: '4', title: 'Монолитные работы', icon: '<i class="icon_monolithic"></i>'},  {bg: '5', title: 'Земляные работы', icon: '<i class="icon_machine"></i>'},  {bg: '6', title: 'Инженерные сети', icon: '<i class="icon_crane"></i>'} ]

                    .services__item

                        .content__collapse

                            .collapse__title(data-collapse="")
                                .services__toggle
                                    i.icon_arrow_bottom

                            .services__bg.bg(style="background-image: url('../../img/services_"+item.bg+".webp')")
                                a(href="#").services__title
                                    .services__icon!=item.icon
                                        //- i.icon_water
                                    span=item.title


                            .collapse__body(data-collapse-body="")

                                .services__row
                                    .services__col
                                        ul
                                            each item in [ 'Габионы. МАФ', 'Укладка тротуарной плитки', 'Вывоз строительного мусора', 'Установка заборов']
                                                li
                                                    a(href="#")=item
                                    .services__col
                                        ul
                                            each item in ['Въезд на дачный участок под ключ', 'Мощение дорожек', 'Планировка рельефа', 'Укрепление склонов', 'Демонтаж фундамента', 'Устройство парковки']
                                                li
                                                    a(href="#")=item





    // end services

    // begin discount
    section#discount.discount.section.bg
        .discount__inner
            .container_center
                .discount__wrap
                    //- .discount__number.discount__number_5.bg
                    //- .discount__number.discount__number_left
                    .discount__number.big_number
                        .number
                            span 5
                            i 5
                    .discount__content
                        .discount__title
                            span Скидка на строительные  работы до конца октября
                        .discount__label
                            span При заказе строительства дома под ключ*
                        .discount__action
                            a.btn.btn_arrow.btn_bg.show_js(href="#aveQuestions")
                                span Получить скидку

                    .discount__circle.discount__circle_center.desktop

            .discount__circle.bg.discount__circle_left.desktop(data-aos="fade-right" data-aos-delay="400")
            .discount__circle.bg.discount__circle_right.desktop(data-aos="fade-left" data-aos-delay="600")



        .discount__sheet.bg.discount__sheet_1(data-speed="0.2").parallax-el-js
        .discount__sheet.bg.discount__sheet_2.desktop(data-speed="-0.4").parallax-el-js
        .discount__sheet.bg.discount__sheet_3.desktop(data-speed="0.4").parallax-el-js




    // end discount

    // begin about
    section#about.about.section
        .container_center
            h2 О компании
            .about__content

                .section__content
                    p ООО «Дан-Строй» - организация, которая специализируется на техническом ремонте, общестроительных работах и комплексном благоустройстве территории. Компания осуществляет деятельность на территории Санкт-Петербурга и Ленинградской области.
                    p Сотрудничая с нами, каждый клиент получает индивидуально разработанный проект, в котором учитываются все ключевые особенности объекта, в том числе и почвенную специфику локации. Во главе «Дан-Строй» стоят люди, которые имеют практический строительный опыт.

                    p В основе нашей благополучной работы лежит репутация. Мы делаем все возможное, чтобы вы остались довольны качеством оказываемых услуг. Обратившись к нам, вы гарантированно получаете ответственного и надежного партера.
                .section__content
                    p Мы сделаем все возможное, чтобы наши сотрудничество было продуктивным и долгосрочным. Обращаясь к нам, вы получаете:
                    ul
                        li Гарантию на оказанные услуги;
                        li Максимально сжатые сроки;
                        li Договор, в котором оговорены все ключевые моменты;
                        li Адекватную стоимость услуг;
                        li Гибкую ценовую политику;
                        li Комплексное выполнение услуг.

                    p В ООО «Дан-Строй» вам смогут выполнить земляные, общестроительные, гидроизоляционные, инженерные, монолитные работы, благоустроить территорию.

            .about__action
                a.btn(href="#")
                    span Подробее о компании






    // end about

    // begin advantages
    section#advantages.advantages.section
        .container_center
            h2 Наши преимущества
            .advantages__list


                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_1.svg")
                    .advantages__text
                        span <b>Скорость</b>
                        span Мы гарантируем быстрое обслуживание

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_2.svg")
                    .advantages__text
                        span <b>Опыт работы</b>
                        span Мы работаем в России уже более 20 лет!

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_3.svg")
                    .advantages__text
                        span <b>Качество</b>
                        span Гарантия качества 100% на все виды<br> услуг в нашей компании

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_4.svg")
                    .advantages__text
                        span <b>Специалисты</b>
                        span У нас работают только дипломированные<br> специалисты!


    // end advantages

    // begin steps
    section#steps.steps.section
        .container_center
            h2 Четыре простых шага для вызова мастера
            .steps__list
                .steps__item(data-aos="fade-right"  data-aos-delay="0")
                    .steps__img
                        img(src="../img/step_1.svg")
                    .steps__text
                        span Вы оставляете заявку на сайте  или по телефону
                .steps__item(data-aos="fade-right"  data-aos-delay="200")
                    .steps__img
                        img(src="../img/step_2.svg")
                    .steps__text
                        span Менеджер свяжется с вами для обсуждения деталей
                .steps__item(data-aos="fade-right"  data-aos-delay="400")
                    .steps__img
                        img(src="../img/step_3.svg")
                    .steps__text
                        span Определение вида техники, согласование проекта
                .steps__item(data-aos="fade-right"  data-aos-delay="600")
                    .steps__img
                        img(src="../img/step_4.svg")
                    .steps__text
                        span Заключение договора, доставка техники на объект

    // end steps

    // begin ourwork
    section#ourwork.ourwork.section
        .container_center
            .ourwork__content
                .ourwork__left
                    h3 Немного о качестве нашей работы
                    .section__content
                        p Когда мы вместе с заказчиком проектируем будущий участок, то в первую очередь говорим и думаем о будущем. Наша главная задача - учесть интересы всех членов семьи и создать пространство для жизни, которое будет приносить пользу и радость будущим поколениям ООО «Дан-Строй» - организация, которая специализируется на техническом ремонте, общестроительных работах и комплексном благоустройстве территории. Мы работаем на территории Санкт-Петербурга и Ленинградской области.
                        p Репутация для нас - самое главное. Мы сделаем все возможное, чтобы сотрудничество было максимально продуктивным и долгосрочным. Будьте уверены, что, работая с нами, вы получаете ответственного и надежного партнера.
                        p Для каждого клиента мы разрабатываем индивидуальный проект, в котором учитываем все ключевые особенности объекта, в том числе и почвенную специфику локации.
                        p Обращаясь к нам, все ваши запросы будут выполнены. Мы с радостью поможет вам в строительных работах.

                    .ourwork__lider
                        .lider
                            .lider__name
                                span Сергей Сергеев
                            .lider__info
                                span руководитель компании Дан Строй

                    .ourwork__action
                        a.btn.btn_bg.btn_arrow.show_js(href="#directorq")
                            span Написать директору


                .ourwork__right
                    .ourwork__bg.bg
                        .lider__foto.bg(style="background-image: url('../../img/lider.webp')")
                        .ourwork__el.bg.ourwork__el_1(data-speed="-0.2").parallax-el-js
                        .ourwork__el.bg.ourwork__el_2(data-speed="-0.8").parallax-el-js
                        .ourwork__el.bg.ourwork__el_3(data-speed="0.4").parallax-el-js



    // end ourwork
