extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin firstscreen
    section#firstscreen.firstscreen.section
        .container_center
            .firstscreen__wrap
                .swiper.single.single-swiper-js
                    .swiper-wrapper.single__wrapper
                        each item in [1,1,1,1]
                            .swiper-slide.single__slide
                                .firstscreen__bg.bg.desktop(style="background-image: url('../../img/firstscreen_bg.webp')")
                                    .firstscreen__content
                                        h1.firstscreen__title
                                            span Пусть ваши мечты станут нашим проектом
                                        .firstscreen__action
                                            a.btn.btn_arrow.btn_bg(href="#")
                                                span Заказать проект

                                .firstscreen__bg.bg.mobile(style="background-image: url('../../img/firstscreen_bg_m.webp')")
                                    .firstscreen__content
                                        h1.firstscreen__title
                                            span Пусть ваши мечты станут нашим проектом
                                        .firstscreen__action
                                            a.btn.btn_arrow.btn_bg(href="#")
                                                span Заказать проект

                .single__control
                    .single__dotted
                    .single__arrows.desktop
                        i.icon_arrow_left
                        i.icon_arrow_right

                .firstscreen__el.bg.firstscreen__el_1.desktop
                .firstscreen__el.bg.firstscreen__el_2.desktop

    // end firstscreen

    // begin services
    section#services.services.section
        .container_center
            h2.section__title
                span Наши услуги
            .section__content
                p Наша компания проводит работы по благоустройству; общестроительные, монолитные, земельные, инженерные и гидроизоляционные работы. 


            .services__list
                each item in [ {bg: '1', title: 'Гидроизоляционные работы', icon: '<i class="icon_water"></i>'},  {bg: '2', title: 'Благоустройство территории', icon: '<i class="icon_tree"></i>'},  {bg: '3', title: 'Общестроительные работы', icon: '<i class="icon_trowel"></i>'},  {bg: '4', title: 'Монолитные работы', icon: '<i class="icon_monolithic"></i>'},  {bg: '5', title: 'Земляные работы', icon: '<i class="icon_machine"></i>'},  {bg: '6', title: 'Инженерные сети', icon: '<i class="icon_crane"></i>'} ]

                    .services__item

                        .content__collapse

                            .collapse__title(data-collapse="")

                                .services__bg.bg(style="background-image: url('../../img/services_"+item.bg+".webp')")
                                    .services__title
                                        .services__icon!=item.icon
                                            //- i.icon_water
                                        span=item.title
                                        .services__toggle
                                            i.icon_arrow_bottom

                            .collapse__body(data-collapse-body="")

                                .services__row
                                    .services__col
                                        ul
                                            each item in [ 'Габионы. МАФ', 'Укладка тротуарной плитки', 'Вывоз строительного мусора', 'Установка заборов']
                                                li
                                                    a(href="#")=item
                                    .services__col
                                        ul
                                            each item in ['Въезд на дачный участок под ключ', 'Мощение дорожек', 'Планировка рельефа', 'Укрепление склонов', 'Демонтаж фундамента', 'Устройство парковки']
                                                li
                                                    a(href="#")=item





    // end services







    //- p Когда мы вместе с заказчиком проектируем будущий участок, то в первую очередь говорим и думаем о будущем. Наша главная задача - учесть интересы всех членов семьи и создать пространство для жизни, которое будет приносить пользу и радость будущим поколениям ООО «Дан-Строй» - организация, которая специализируется на техническом ремонте, общестроительных работах и комплексном благоустройстве территории. Мы работаем на территории Санкт-Петербурга и Ленинградской области.
    //- p Репутация для нас - самое главное. Мы сделаем все возможное, чтобы сотрудничество было максимально продуктивным и долгосрочным. Будьте уверены, что, работая с нами, вы получаете ответственного и надежного партнера.
    //- p Для каждого клиента мы разрабатываем индивидуальный проект, в котором учитываем все ключевые особенности объекта, в том числе и почвенную специфику локации.
    //- p Обращаясь к нам, все ваши запросы будут выполнены. Мы с радостью поможет вам в строительных работах.
