extends layout/layout.pug

block content


    // begin testingNaw
    section#testingNaw.testingNaw.section
        .container_center
            h2.section__title
                span НАВИГАЦИЯ
            ul(style="font-size:1.25em;")
                li
                    a(href="home") Главная
                li
                    a(href="discounts") Акции и скидки
                li
                    a(href="work") Примеры работ
                li
                    a(href="archive") Разводящая по услугам
                li
                    a(href="single") Страница услуги
                li
                    a(href="recall") Отзывы
                li
                    a(href="guarantee") Гарантии
                li
                    a(href="contacts") Контакты
                li
                    a(href="about") О компании


    // end testingNaw

    // begin testButton
    section#testButton.testButton.section
        .container_center
            h2.section__title 
                span Кнопки
            br
            .testButton__content
                a.btn(href="#") 
                    span Подробее о компании
                br
                br
                a.btn.btn_arrow(href="#") 
                    span Заказать проект
                br
                br
                a.btn.btn_arrow.btn_bg(href="#") 
                    span Заказать проект
                br
                br
                a.btn.btn_callback.btn_bg(href="#") 
                    span Заказать звонок
                br
                br


    // end testButton

    // begin tetsNodal
    section#tetsNodal.tetsNodal.section
        .container_center
            h2.section__title
                span Модальные окна
            .tetsNodal__content
                ul(style="font-size:1.25em;")
                    li
                        a.show_js(href="#aveQuestions") Есть воросы?
                    li
                        a.show_js(href="#aveQuestions1") Есть воросы? (успех!)
                    li
                        a.show_js(href="#directorq") Оставьте ваш вопрос директору
                    li
                        a.show_js(href="#directorq1") Оставьте ваш вопрос директору (успех!)


    // end tetsNodal
