extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span.kb_title Акции и скидки


            //- .kama_breadcrumbs
            //-     span
            //-         a(href="#")
            //-             span Главная
            //-     span.kb_sep
            //-     span
            //-         a(href="#")
            //-             span Блог
            //-     span.kb_sep
            //- 
            //-     span.kb_title С чего начать ремонт

    // end breadcrumbs

    // begin stock
    section#stock.stock.section
        .container_center
            h1.section__title.section__title_lg
                span Акции и скидки
            .stock__grid
                // start item
                .stock__item.bg.stock__item_number
                    .stock__number
                        .number
                            span 5
                            i 5

                    .stock__content
                        .stock__title
                            span Скидка на строительные  работы до конца октября
                        .stock__desc
                            span При заказе строительства дома под ключ*



                // end item
                .stock__item.stock__item_img.stock_pink.bg
                    .stock__img(style="background-image: url('../../img/stock_img_3.webp')")
                    .stock__content
                        .stock__title
                            span Акция 15% на все строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_bg(href="#")
                                span Подробнее


                // start item


                // end item
                .stock__item.stock__item_img.bg.stock_darkblue
                    .stock__img(style="background-image: url('../../img/stock_img_2.webp')")

                    .stock__content
                        .stock__title
                            span Акция на все бетонные строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_bg(href="#")
                                span Подробнее

                // start item


                // end item
                .stock__item.stock__item_img.bg.stock_orange
                    .stock__img(style="background-image: url('../../img/stock_img_1.webp')")
                    .stock__content
                        .stock__title
                            span Укладка травы бесплатно при строительстве под ключ
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_white(href="#")
                                span Подробнее

                // start item


                // end item
                .stock__item.bg.stock_bg
                    .stock__content
                        .stock__title
                            span Укладка травы бесплатно при строительстве под ключ
                        .stock__desc
                            span При заказе строительства дома под ключ*

                // start item


                // end item
                .stock__item.bg.stock_bg.stock__item_number.stock__item_number_reverse
                    .stock__number
                        .number.number_green
                            span 50
                    .stock__content
                        .stock__title
                            span Укладка травы бесплатно при строительстве под ключ
                        .stock__desc
                            span При заказе строительства дома под ключ*

                // start item


                // end item
                .stock__item.stock__item_img.bg.stock_teal
                    .stock__img(style="background-image: url('../../img/stock_img_4.webp')")

                    .stock__content
                        .stock__title
                            span Акция на все бетонные строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        //- .stock__action
                        //-     a.btn.btn_arrow.btn_bg(href="#")
                        //-         span Подробнее

                // start item


                // end item
                .stock__item.stock__item_img.bg.stock_green
                    .stock__img(style="background-image: url('../../img/stock_img_3.webp')")

                    .stock__content
                        .stock__title
                            span Акция на все бетонные строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_bg(href="#")
                                span Подробнее

                // start item
                .stock__item.stock__item_img.bg.stock_coral
                    .stock__img(style="background-image: url('../../img/stock_img_2.webp')")

                    .stock__content
                        .stock__title
                            span Акция на все бетонные строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_bg(href="#")
                                span Подробнее


                // end item

                // start item
                .stock__item.bg.stock_blue
                    .stock__content
                        .stock__title
                            span Акция на все бетонные строительные работы
                        .stock__desc
                            span При заказе строительства дома под ключ*
                        .stock__action
                            a.btn.btn_arrow.btn_bg(href="#")
                                span Подробнее


                // end item



    // end stock


    // begin questions
    section#questions.questions.section
        .container_center
            .questions__content.bg
                h2.section__title.section__title_lg
                    span Остались вопросы?
                .questions__label
                    span Напишите нам и наш менеджер перезвонт вам в течение 24 часов
                .questions__form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")



                        .form__row
                            .form__label
                                span Ваше ФИО*
                            input(type="text", required placeholder="Напишите ваше ФИО")


                        .form__row
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row.form__row_textarea
                            .form__label
                                span Ваш вопрос
                            textarea(type="text", placeholder="Опишите вашу проблему")


                        .form__row.form__row_mt20
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mt20
                            .form__text
                                span Нажимая на кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>

                        //- .form__row.form__row_mb0
                        //-     .form__success
                        //-         span Спасибо за обращение!


    // end questions
