extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span.kb_title О компании

    // end breadcrumbs

    // begin company
    section#company.company.section
        .container_center

            .company__content
                .company__left
                    h1 О компании
                    .section__content
                        p ООО «Дан-Строй» - организация, которая специализируется на техническом ремонте, общестроительных работах и комплексном благоустройстве территории. Компания осуществляет деятельность на территории Санкт-Петербурга и Ленинградской области.
                        p Сотрудничая с нами, каждый клиент получает индивидуально разработанный проект, в котором учитываются все ключевые особенности объекта, в том числе и почвенную специфику локации. Во главе «Дан-Строй» стоят люди, которые имеют практический строительный опыт.
                        p В основе нашей благополучной работы лежит репутация. Мы делаем все возможное, чтобы вы остались довольны качеством оказываемых услуг. Обратившись к нам, вы гарантированно получаете ответственного и надежного партера. Мы сделаем все возможное, чтобы наши сотрудничество было продуктивным и долгосрочным.
                .company__right.bg(style="background-image: url('../../img/company_bg.webp')")
                    .company__el.bg.company__el_1(data-speed="-0.2").parallax-el-js
                    .company__el.bg.company__el_2(data-speed="0.4").parallax-el-js
                    .company__el.bg.company__el_3(data-speed="0.2").parallax-el-js

    // end company

    // begin advantages
    section#advantages.advantages.advantages_company.section
        .container_center
            h2  Обращаясь к нам, вы получаете:
            .advantages__list

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_5.svg")
                    .advantages__text
                        span <b>Гарантию на оказанные услуги</b>

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_6.svg")
                    .advantages__text
                        span <b>Максимально сжатые сроки</b>

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_7.svg")
                    .advantages__text
                        span <b>Договор, в котором оговорены все<br> ключевые моменты</b>

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_8.svg")
                    .advantages__text
                        span <b>Адекватную стоимость услуг</b>

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_9.svg")
                    .advantages__text
                        span <b>Гибкую ценовую политику</b>

                .advantages__item
                    .advantages__img
                        img(src="../img/advantages_10.svg")
                    .advantages__text
                        span <b>Комплексное выполнение услуг</b>

            .advantages__content
                .section__content
                    p В ООО «Дан-Строй» вам смогут выполнить земляные, общестроительные, гидроизоляционные, инженерные, монолитные работы, благоустроить территорию.



    // end advantages


    // begin questions
    section#questions.questions.section
        .container_center
            .questions__content.bg
                .questions__title
                    span Остались вопросы?
                .questions__label
                    span Напишите нам и наш менеджер перезвонт вам в течение 24 часов
                .questions__form
                    form.form.form_grid(action="send.php")
                        //- из какой формы на сайте
                        input(type="hidden" name="subject" value="форма в футоре")
                        //- проверка спама
                        input(type="hidden" name="notspam" value="")



                        .form__row
                            .form__label
                                span Ваше ФИО*
                            input(type="text", required placeholder="Напишите ваше ФИО")


                        .form__row
                            .form__label
                                span Введите ваш номер телефона*
                            input(type="text", required placeholder="8 (___) ___ ____")

                        .form__row.form__row_textarea
                            .form__label
                                span Ваш вопрос
                            textarea(type="text", placeholder="Опишите вашу проблему")


                        .form__row.form__row_mt20
                            .button
                                button.btn.btn_callback.btn_bg(type="submit")
                                    span Заказать звонок

                        .form__row.form__row_mt20
                            .form__text
                                span Нажимая на кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности</a>

                        //- .form__row.form__row_mb0
                        //-     .form__success
                        //-         span Спасибо за обращение!


    // end questions
